@CHARSET "EUC-KR";
@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);
body {
	margin:0;
	/* background: #f1f0ef; */
	background : white;

	padding-top: 0;
}
#logo{
	float: left;
	margin-left: 6%;
	
	
}
#logo > img {
	width: 280px;
}
.top_header{
	background:#ff8c00;
	height:80px;
	text-align: right;
	margin-bottom: 80px;
	padding-right: 9%;
}

#navy_a, #navy_b, #navy_c{
	display: inline-block;
	margin:0 25px;
}
#searchContainer > a{
	text-decoration: none;
	padding: 25px;
	color: aliceblue;
	font-weight: bold;
	font-size: 20px;
}
#navy{
	margin-right: 170px;
}

.mid_contents{
	display: -webkit-inline-box;
}

/* input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
} */

input[type=submit] {
    width: 100%;
    background-color: darkgray;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background: lightslategrey;
    text-decoration: underline;
}
.mid_contents {
    border-radius: 5px;
    padding: 0;
    width: 28%;
    margin-bottom: 20px;
    margin-left: 11%;
}

.bot_contents{
	margin-left: 11%;
	width: 80%;
	/* background: #f1f0ef; */
	background : white;
	display: -webkit-box;
	margin-bottom: 40px;
}
#notice,#point,#service{
	/* border: 1px solid;
	width: 29%;
	height: 250px;
	margin-right: 100px;
	border: 1px solid #ccc;
	background: white; */
}
#wpoint {
	height: 70px;
}
#wpoint p, #mpoint p{
	color: #646464;
	padding: 0 40px;
	font-size: 20px;
}
.dropbtn1, .dropbtn2, .dropbtn3, .dropbtn4, .dropbtn5 {
    background-color: #ff8c00;
    color: white;
    padding: 20px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    margin-right: 45px;
    font-weight: bold;
    font-family: sans-serif;
}
.mid_contents > .container{ width: 900px; margin-right: 160px;}
.dropdown1, .dropdown2 {
    position: relative;
    display: inline-block;
}

.dropdown3, .dropdown4, .dropdown5 {
    position: relative;
    display: inline-block;
}

.dropdown-content1, .dropdown-content2 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content3, .dropdown-content4, .dropdown-content5 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content1 a, .dropdown-content2 a {
    color: black;
    padding: 12px 16px;
    display: block;
    font-size: 20px;
    text-decoration: none;
    font-family: 'Hanna', serif;
}
.dropdown-content3 a, .dropdown-content4 a, .dropdown-content5 a{
    color: black;
    padding: 12px 16px;
    display: block;
    font-size: 20px;
    text-decoration: none;
    font-family: 'Hanna', serif;
}

.dropdown-content1 a:hover {background-color: #f1f1f1;  text-decoration: underline;}
.dropdown-content2 a:hover {background-color: #f1f1f1;  text-decoration: underline;}
.dropdown-content3 a:hover {background-color: #f1f1f1;  text-decoration: underline;}
.dropdown-content4 a:hover {background-color: #f1f1f1;  text-decoration: underline;}
.dropdown-content5 a:hover {background-color: #f1f1f1;  text-decoration: underline;}

.dropdown1:hover .dropdown-content1, .dropdown2:hover .dropdown-content2 {
    display: block;
}
.dropdown3:hover .dropdown-content3, .dropdown4:hover .dropdown-content4,.dropdown5:hover .dropdown-content5 {
    display: block;
}

.dropdown1:hover .dropbtn1, .dropdown2:hover .dropbtn2 {
    background-color: #FFB559;
}
.dropdown3:hover .dropbtn3, .dropdown4:hover .dropbtn4, .dropdown5:hover .dropbtn5 {
    background-color: #FFB559;
}

div#mainTopDiv div, div#mainDownDiv div{
	margin: 15px;
}

.slide{
	width: 100%;
}
.bot_contents p{
	margin: 0 0 10px;
	padding: 20px 0 0 0;
	font-size: 25px;
	font-weight: bold;
}
 .noti_title p{
	float: right;
} 

#service > img{
	width: 80%;
	margin-left: 50px;
	height: 110px;
	
}
 #notice_list{
	margin-top: 30px;
}
#notice_list > ui > li{
	padding: 20px;	
	font-size: 15px;
} 
.panel-body > h5{
	font-size: 18px;
	padding-bottom: 39px;
}
.carousel-inner>.item>img {
	height: 320px;
}

#brand_rank > h2, #gu_rank > h2{
	color: #FF8C00;
	font-weight: bold;	
}
