@CHARSET "EUC-KR";

body {
	margin:0;
	background: #f1f0ef;
}  
#logo{
	float: left;
	margin-left: 6%;
	
}
#logo > img {
	width: 280px;
}
.top_header{
	background:#ff8c00;
	height:80px;
	text-align: right;
	margin-bottom: 60px;
	padding-right: 9%;
}

#navy_a, #navy_b, #navy_c{
	display: inline-block;
	margin:0 25px;
}
/* a{
	text-decoration: none;
	padding: 25px;
	color: aliceblue;
	font-size: 20px;
} */
#navy{
	margin-right: 170px;
}

.dropbtn1, .dropbtn2, .dropbtn3, .dropbtn4, .dropbtn5 {
    background-color: #ff8c00;
    color: white;
    padding: 25px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    margin-right: 45px;
    font-weight: bold;
    font-family: sans-serif;
}
.dropdown1, .dropdown2 {
    position: relative;
    display: inline-block;
}
.dropdown3, .dropdown4, .dropdown5 {
    position: relative;
    display: inline-block;
}

.dropdown-content1, .dropdown-content2 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content3, .dropdown-content4, .dropdown-content5 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content1 a, .dropdown-content2 a {
    color: black;
    padding: 12px 16px;
    display: block;
    font-size: 20px;
    text-decoration: none;
    font-family: sans-serif;
}
.dropdown-content3 a, .dropdown-content4 a, .dropdown-content5 a{
    color: black;
    padding: 12px 16px;
    display: block;
    font-size: 20px;
    text-decoration: none;
    font-family: sans-serif;
}

.dropdown-content1 a:hover {background-color: #f1f1f1;  text-decoration: underline;}
.dropdown-content2 a:hover {background-color: #f1f1f1;  text-decoration: underline;}
.dropdown-content3 a:hover {background-color: #f1f1f1;  text-decoration: underline;}
.dropdown-content4 a:hover {background-color: #f1f1f1;  text-decoration: underline;}
.dropdown-content5 a:hover {background-color: #f1f1f1;  text-decoration: underline;}

.dropdown1:hover .dropdown-content1, .dropdown2:hover .dropdown-content2 {
    display: block;
}
.dropdown3:hover .dropdown-content3, .dropdown4:hover .dropdown-content4,.dropdown5:hover .dropdown-content5 {
    display: block;
}

.dropdown1:hover .dropbtn1, .dropdown2:hover .dropbtn2 {
    background-color: #FFB559;
}
.dropdown3:hover .dropbtn3, .dropdown4:hover .dropbtn4, .dropdown5:hover .dropbtn5 {
    background-color: #FFB559;
}
/* 
p{
	margin: 0 0 10px;
	padding: 30px;
	font-size: 25px;
	font-weight: bold;
} */

.mid_MenuContents{
	margin: auto;
	width: 1600px;
	border-radius: 5px; 
}
#insertMenu{
	margin-top: 30px;
	display: none; 	
	padding: 50px;
	background: white;
	border: 1px solid #d2d2d2;
	border-radius: 30px;  
	padding: 30px;
	
}
#insertMenu > input{
	display: block;
	margin: 10px;
}
#f_contents{
	display: inline-block;
	overflow: auto;
	height: 450px;
	padding: 30px;
	background: white;
	width: 46%;
	border: 1px solid #d2d2d2;
}
#f_contents > img{
	margin: 0 20px 20px 0;
	border-radius: 20px; 
	height: 200px;
}

.mid_MenuContents > p{
	font-size: 30px;
	text-align: right;
	padding: 10px;
	margin-right: 35px;
	color: #646464;
}
#menu img {
	width: 350px;
}
#Menu2 {
	margin-left: 30px;
	text-align: left;
}
#Menu2 > input{
	margin-bottom: 20px;
}

.form-group{
	margin-bottom: 20px;
}
.form-group > input{
	height: 30px;
	font-size: 16px;	
	width: 260px;
}
table{
	margin: auto;
}
.selMarket{
	float: right;
	width: 48%;
	display: inline-block;
	background: white;
	border: 1px solid #d2d2d2;
	border-radius: 20px; 
}
#menupan p{
	font-family: 'Hanna', serif;
	text-align: center;
	font-size: 50px;
	padding: 30px;
}
#s_contents{
	overflow: auto;
	height: 810px;
	padding: 30px;
}
#s_contents img{
	margin: 20px 20px 5px 0;
	border-radius: 20px;
	height: 200px;
	width: 300px;
}
#insertMenu{
	/* display: none; */
	display: inline-block;
	width: 736px;
	margin-left: 5%;
}
#insertMenu #insertTop p{
	margin: 0;
	padding: 0;
	font-size: 40px;
	display: inline-block;	
	font-family: 'Hanna', serif;
}
#insertTop {
	margin-bottom: 10px;
}
#insertTop img{
	width: 35px;
	float: right;
	padding-top: 10px;
}
#btn{
	text-align: center;
	margin-top: 20px;
}
.insertBtn{
	color: #fff;
	background: #f0ad4e;
	border-color: #eea236;
	width: 150px;
	height: 30px;
	border: 2px solid;
	border-radius: 10px;
}
textarea{
	width: 260px;
	font-size: 20px;
	resize: none;
}
.form-control{
		height: 50px;
}

#s_contents #infobtn{
	position: absolute;
	width: 150px;
	height: 50px;
	margin-top: 150px;
	display: none;
	opacity: 1.0;
}
#selMenu p{
	text-align: center;
	font-family: sans-serif;
	font-weight: bold;
	margin-left: 40px;
}